@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
     --primary: #2563eb;
  --secondary: #1e40af;
  --accent: #3b82f6;
  --text: #1f2937;
  --light: #f9fafb;
  }
}

body {
   font-family: 'Inter', sans-serif;
  color: var(--text);
  background-color: var(--light);
  overflow-x: hidden;
}


.section-padding {
  @apply px-6 py-20 md:px-12 lg:px-24;
}